.app-header {
   display: flex;
   align-items: center;
   background-color: #ffffff;
   justify-content: center;
   color: white;
   padding: 15px;
   margin: 0;
   font-family: sans-serif;
}

.AHlogo-container {
   position: relative;
   width: auto;
   height: 100px;
   padding: 10px;
}

.AHlogo {
   width: auto;
   height: 100%;
}





