/* Container styles */
.STYT-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 1340px;
   margin: 0 auto;
   /* margin-top: 10px; */
   padding: 20px;
  
   
}

.main {
   background-repeat: repeat-x;
   background-size:contain;
   background-position-x: -93px;
}

/* Heading styles */
.STYT-heading {
   text-align: center;
   font-size: 45px;

   font-family: palatino bold;
}

.Program-Heading {
   display: 'flex';
   justify-content: center;
   align-items: center;
   font-weight: bold;
   font-size: 50px;
   color: rgb(192, 0, 0);
   padding-top: 50px;
}

.disclaimer {
   font-size: 26px;
   color: rgb(0, 0, 0);

   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   border-radius: 5px;
}



/* Instructions styles */
.STYT-instructions strong {
   margin-top: 15px;
   display: block;
   color: #8f0000;
}

.STYT-instructions {

   color: #a3a3a3;
}

.instructions-container {
   display: block;
   width: 740px;
   font-size: large;

}

/* Images */
/* Images */
/* Images */
.STYT-image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.STYimage {
  width: 60%;
  max-width: 400px;
}

/* Table styles */
.STYT-table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 20px;
   background-color: #d9d9d9;
   color: #4b0000;
}

.STYT-table th,
.STYT-table td {
   font-size: 18px;
   padding: 8px;
   text-align: center;
   border: 1px solid #ffffff;
}

/* Input styles */
.STYT-input {
   color: #6a6a6a;
   font-weight: bold;
   font-size: medium;
   width: 80px;
   padding: 6px;
   border: 1px solid #555;
   border-radius: 4px;
   background-color: #f1f1f1;
}

/* Options styles */
.STYT-options {
   margin-bottom: 10px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   color: #000000;
   font-size: 18px;
}

/* Button styles */
.STYT-button {
   display: block;
   width: 100%;
   padding: 10px;
   font-size: 24px;
   background-color:  rgb(225, 225, 225);  
   color: rgb(55, 55, 55);
   border: none;
   border-radius: 10px;
   cursor: pointer;
   transition: background-color 0.3s ease;
   font-weight: bold;
}

.STYT-button:hover {
   color: rgb(200, 200, 200);
   background-color: rgb(162, 162, 162);  
}

/* Animation styles */
@keyframes fade-in {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

/* Apply animation to the container */
.STYT-container {
   animation: fade-in 0.5s ease;
}

/* fontSize: '22px', color: 'red', textAlign: 'center' */
.loginToCreate {
   font-size: 22px;
   color: red;
   text-align: center;
}

/* Add space between image and chart */
.STYT-image {
  margin-bottom: 70px;
}

form div {
   margin: 1em;
   display: inline-block;
}