.navbar {
   background-color: #333; /* Update to a more modern color */
   padding: 10px;
   height: auto;
   position: sticky;
   top: 0;
   z-index: 100;
}

.navbar nav {
   display: flex;
   justify-content: center;
   align-items: center;
}

.navbar a {
   font-family: sans-serif;
   color: #fff; /* Update text color */
   text-decoration: none;
   transition: color 0.3s ease;
   font-size: 22px; /* Adjust font size for a more modern look */
   padding: 10px;
   margin: 0 .8em;
   display: flex; /* To use flex properties */
   align-items: center; /* To vertically center elements */
}

/* Add a hover effect for a more interactive feel */
.navbar a:hover {
   background-color: #555;
   border-radius: 4px;
}

/* Add a class for the active link */
.navbar a.active {
   font-weight: bold;
}

/* Style the hamburger menu icon for mobile devices */
.hamburger-menu {
   display: none; /* Hide by default on larger screens */
}

/* Add media query for mobile devices */
@media (max-width: 768px) {
   .navbar a:not(.active) {
      display: none; /* Hide the links on smaller screens */
   }

   .hamburger-menu {
      display: block; /* Show the hamburger menu on smaller screens */
   }
}
