/* Global styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

/* Container styles */
.container {
  padding: 40px;
  text-align: center;
  
  
}

.heading {
  font-size: 36px;
  margin-bottom: 20px;
  color: rgb(207, 0, 0);
}

/* Video Card styles */
.videoGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.videoCardLeft,
.videoCardRight {
  width: calc(50% - 20px); /* To add some spacing between the cards */
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease;
  cursor: pointer;
  position: relative; /* For overlay */
  
}

.videoCardLeft:hover,
.videoCardRight:hover {
  transform: scale(1.1); /* Increase card size on hover */
}

.videoCardLeft {
  margin-right: 20px;
  margin-bottom: 20px;
  
 
}

.videoCardRight {
  margin-left: 20px;
  margin-bottom: 20px;
}

/* Overlay for video cards */
.videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.videoCardLeft:hover .videoOverlay,
.videoCardRight:hover .videoOverlay {
  opacity: 1; /* Show overlay on hover */
}

.videoPlayer {
  width: 100%;
  height: auto;
  max-width: 320px;
  max-height: 180px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 8px solid rgb(200, 200, 200);
  margin-bottom: 20px;
}

.videoDescription{
  color:rgb(0, 0, 0);
  font-size: 16px;
  border-radius: 8px;
  padding: 30px;
  margin-top: 10px;

}
.videoTitle{
  color:rgb(57, 57, 57);
  background-color: rgb(255, 255, 255);
  border: 3px  solid rgb(86, 86, 86); /* Set the border width and color */
  padding:10px ;
  border-radius: 8px;
    display: inline; 
    margin: 20px;
}
/* Responsive styles */
@media (max-width: 768px) {
  .videoCardLeft,
  .videoCardRight {
    width: calc(100% - 40px); /* To add some spacing between the cards */
  }

  .videoCardLeft:not(:last-child),
  .videoCardRight:not(:last-child) {
    margin-bottom: 20px;
  }
}
