/* HPcontainer */
.HPcontainer {
  text-align: center;
  background-color: #202121;
  padding: 32px;
  color:rgb(207, 0, 0);
  font-size: 40px;

}

/* HPimageContainer */
.HPimageContainer {
  
  background-color: #efeeee;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 700px;
}

.HPlogo {
  width: 700px;
  height: auto;
  transform: translateX(-2%);
   transform: translateY(10%);
}

/* Slogan Containers */
.sloganContainerLeft,
.sloganContainerRight {
  font-style: oblique;
  position: absolute;
  text-align: center;
  padding: 5px;
  z-index: 1;
  display: block;
 }

.sloganContainerLeft {
  font-size: 22px;
  left: 10%;
  color: #ffffff;
  top: 40%;
  
  animation-name: coolAnimationLeft;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  opacity: 0;
  animation-fill-mode: forwards;
}

.sloganContainerRight {
  font-size: 28px;
  color: #d30000;
  left:130px;
  top: 85%;
  animation-name: coolAnimationRight;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  opacity: 0;
  animation-fill-mode: forwards;
}

/* HPimageWrapper */
.HPimageWrapper {
  position: relative;
 
}

/* HPimage */
.HPimageOne {
  width: 80%;
  border-radius: 10px;
  margin-bottom: -5px;
  transform: translateX(10%);
 }

.HPimage.show {
  opacity: 1;
}

/* DynamicImageContainer */
.dynamicImageContainer {
  position: relative;
  padding:20px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom:0px;
}

/* DynamicImage */
.dynamicImage {
  width: 100%;
  border-radius: 10px;
  
  
}

.dynamicImage.show {
  opacity: 1;
}

/* DynamicImageTextContainer */
.dynamicImageTextContainer {
  position: absolute;
  top: 40%;
  left: 85%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  z-index: 2;
}

.dynamicImageTextContainer h2 {
 
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dynamicImageTextContainer h1 {
  font-size: 36px;
  font-weight: bold;
}

/* Animation for slogans */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Cool Animation for sloganContainerLeft */
@keyframes coolAnimationLeft {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Cool Animation for sloganContainerRight */
@keyframes coolAnimationRight {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    transform: translateY(-10%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Apply animation to slogans */
.HPsloganOne,
.HPsloganTwo {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.HPsloganOne {
  animation-name: slideInFromLeft;
}

.HPsloganTwo {
  animation-name: slideInFromRight;
}

/* Ticker Container */
.tickerContainer {
  background-color: rgb(0, 0, 0);
  padding: 30px 0px;
  width: 100%;
  overflow: hidden;
}

.tickerContent {
  display: flex;
  align-items: center;
}



.tickerList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  animation: ticker 20s linear infinite;
}

.tickerList li {
  display: inline-block;
  margin-right: 20px;
  font-size: 35px;
  color: rgb(255, 0, 0);
  font-family: "Courier New", monospace;
  letter-spacing: 2px;
  text-transform: uppercase;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes ticker {
  0% {
    transform: translateX(90%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px rgb(255, 1, 1), 0 0 10px rgb(255, 3, 3), 0 0 20px rgb(255, 4, 4), 0 0 30px rgb(255, 9, 9)
  }
  100% {
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff1e00, 0 0 30px #ff0000, 0 0 40px #ff0000;
  }
}


/* HPwomanDumbBellImage */
.HPwomanDumbBellImage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.HPwomanDumbBellImage img {
  max-width: 100%;
  max-height: 500px;
  margin-right: 120px;
}



/* HPvideo */
.HPvideo {
  max-width: 80%; /* Adjust the max-width to make the video smaller */
  height: 500px;
}

.HPwomanDumbellText{
  justify-content: left;
  align-items: center;
  margin-right: 120px;
   margin-left: 18px;
    font-style: oblique;
      color:rgb(157, 157, 157)
}

.HPwomanDumbellTextRight{
  justify-content: right;
  align-items: center;
  margin-left: 120px;
  margin-right: 18px;
  font-style: oblique;
  color:rgb(157, 157, 157)
   
}
.HPwomanDumbellQuote{
  font-style: oblique;
  color:rgb(0, 0, 0);
}